<section class="servicios-container">
  <section class="section-title">
    <div class="title-content">
      <h1>Nuestros Servicios</h1>
    </div>
  </section>
  <div>
    <section class="disclaimer-container">
      <div class="disclaimer-content">
        <h2>Aviso Importante Antes de Reservar</h2>
        <p>
          Por favor, tenga en cuenta las siguientes consideraciones antes de realizar su reserva:
        </p>
        <ul>
          <li>Las reservas deben realizarse con al menos 24 horas de antelación.</li>
          <li>Para cancelaciones, se debe avisar con al menos 48 horas de anticipación.</li>
          <li>El máximo de personas por servicio es de 6 personas.</li>
          <li>Es obligatorio traer traje de baño y toalla propia para los servicios de spa.</li>
          <li>El uso de las instalaciones es exclusivo durante el tiempo reservado.</li>
          <li>Los pagos deben realizarse por adelantado a través de los métodos de pago aceptados en nuestro sitio.</li>
        </ul>
        <p>
          Si tiene alguna duda sobre nuestras condiciones, por favor, no dude en <a href="/contact">contactarnos</a>.
        </p>
      </div>
      </section>
    <section class="servicios-container">
      <div class="promociones">
        <div class="promo-card" *ngFor="let servicio of servicios">
          <img [src]="servicio.imagen" alt="Imagen del servicio">
          <div class="promo-content">
            <h3>{{ servicio.tipoServicio }}</h3>
            <p class="description">{{ servicio.descripcion }}</p>
            <p>{{ servicio.horas }} horas</p>
            <p class="price">{{ servicio.valor | currency:'CLP':'symbol':'1.0-0' }}</p>
            <div class="buttons">
              <button mat-raised-button (click)="verCalendario(servicio)" color="primary">Buscar Disponibilidad</button>
              <button class="details-button">Ver Más Detalles</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="testimonials-container">
      <header class="testimonials-header">
        <h1>Lo Que Dicen Nuestros Clientes</h1>
      </header>
      <div class="testimonials-list">
        <div class="testimonial">
          <p>"¡Una experiencia increíble! El servicio fue excepcional y la calidad inigualable. Definitivamente
            volveré."</p>
          <span>- María G.</span>
        </div>
        <div class="testimonial">
          <p>"Un lugar perfecto para relajarse. La promoción que elegí fue excelente y el ambiente muy acogedor."</p>
          <span>- Juan R.</span>
        </div>
      </div>
    </div>
  </div>
</section>
