<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<header>
    <!-- Logo con routerLink a home -->
    <a href="#" class="logo" routerLink="home">
      <img class="logo-ajust" src="assets/icon/loogo-Photoroom.png" alt="Logo">
    </a>

    <!-- Lista de navegación con routerLink y ajustes según la autenticación -->
    <ul class="navlist">
      <li><a class="home" routerLink="home">Inicio</a></li>
      <li><a class="home" routerLink="productos">Servicios</a></li>
      <li><a class="home" routerLink="about-us">Acerca de Nosotros</a></li>
      <li><a class="home" routerLink="contact">Contáctanos</a></li>
    </ul>

    <!-- Sección de autenticación -->
    <div class="right-content">
      <!-- Condicional para mostrar opciones según si el usuario está autenticado -->
      <ng-container *ngIf="user$ | async as user; else guestLinks">
        <!-- Si el usuario está autenticado, se muestra su email y el botón de Sign Out -->
        <div>
          <button class="dropdown-toggle" (click)="toggleMenu()">
            <div>
              <h1>¡Bienvenido! </h1>
              <span class="user-email">{{ user.email }}</span>
              <img style="width: 20px ; height: 20px; margin-left: 80px;" src="https://cdn-icons-png.flaticon.com/128/5176/5176144.png" alt="">
            </div>
          </button>
          <div class="dropdown-menu" *ngIf="menuVisible">
            <a href="user/profile" class="dropdown-item">Mi Cuenta</a>
          </div>
        </div>

        <a href="" (click)="onSignOut()" class="nav-btn">Cerrar Sesión</a>
      </ng-container>

      <!-- Enlace para usuarios no autenticados -->
      <ng-template #guestLinks>
        <a routerLink="user/sign-in" class="nav-btn">Iniciar Sesión</a>
        <a routerLink="user/sign-up" class="nav-btn">Registrate</a>
      </ng-template>

      <!-- Ícono del menú (asumo que lo usas para dispositivos móviles) -->
      <!-- <div class="bx bx-menu" id="menu-icon" (click)="toggleMenu()"></div> -->
    </div>
  </header>

