
<!-- <app-nav></app-nav> El componente Nav se utiliza aquí -->
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <body>

  <section class="hero">
    <div class="hero-text">
      <h5>Desiñeado por Trifecta</h5>
      <h1>Desconéctate y renueva tus sentidos</h1>
      <p>Ofrecemos espacios de relajación con tinajas piscinas y
      saunas para que disfrutes de momentos de descanso y
      bienestar cuando tu quieras</p>
      <div class="main-hero">
        <a href="" class="btn">Reserva ya</a>
        <a href="" class="price">Conoce Más</a>
      </div>
    </div>

    <div class="hero-img">
      <img src="assets/icon/bg3.png"  alt="">
    </div>

    <div class="scroll">
      <a href=""><i class="ri-scroll-to-bottom-fill"></i>
      Scroll Down</a>
    </div>
  </section>

  <div class="icons">
    <a href="https://www.facebook.com/tinajas.rustic?mibextid=ZbWKwL"><i class="ri-facebook-fill"></i></a>
    <a href="https://www.instagram.com/tinajas_rustic?igsh=aHNwemF5aTB5ODl5 "><i class="ri-instagram-fill"></i></a>
    <a href="https://api.whatsapp.com/message/52T5MPEMYE76H1?autoload=1&app_absent=0"><i class="ri-whatsapp-fill"></i></a>
  </div>

<body>
<script src="js/script.js"></script>
</body>


